@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 1000px;
}
.banner{
    position: relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg);
    background-size: cover;
    box-shadow: 0 5px 20px #023047;
}
.banner .content{
    max-width: 1500px;
    text-align: center;
    color: #023047;
}
.banner .content h2{
    font-size: 4em;
    font-weight: 700;
}
.banner .content p{
    font-size: 7em;
    font-weight: 900;  
    transition: 0.5s;
}
.banner .content p:hover{
    letter-spacing: 8px;
}
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}
header.sticky{
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
header .logo span{
    font-size: 1.2em;
    font-weight: 900; 
    color: #e7694b;
}
header .logo{
    color: #023047;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}
header.sticky .logo{
    color: #023047;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #023047;
    font-size: 1.3em;
    font-weight: 400;
}
header.sticky .navigation li a{
    color: #023047;
}
header .navigation li a:hover{
    color: #e7694b;
}
section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titletext{
    color: #023047;
    font-size: 2em;
    font-weight: 400;
}
.titletext span{
    color: #e7694b;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 p{
    font-size: 1.1em;
    color: #023047;
}
.row .col50 .imgBx{
    position: relative;
    width:100%;
    height: 100%;
    box-shadow: 0 0 10px #023047;
}
.row .col50 .imgBx img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery{
    min-height: 90vh;
    background: #4494c8; /*rgb(68,148,200)*/
    box-shadow: 0 0px 20px #023047;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title{
    position: relative;
    top:-30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title p{
    font-size: 1.1em;
    color: #023047;
    text-align: center;
}
.gallery .container{
    position: relative;
    top:10px;
    width:1200px;
    height:650px;
    margin:30px;
    background: #e7694b;
    box-shadow: 0 0px 20px #023047;
    border-radius: 25px;
}
.gallery .container .clip{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 25px;
}
.gallery .container .clip.clip1{
    background: url(./gallery/wedding.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 12.5% 0, 12.5% 100%, 0% 100%);
}
.gallery .container .clip.clip2{
    background: url(./gallery/potrait.jpeg);
    background-size: cover;
    clip-path: polygon(12.5% 0, 25% 0, 25% 100%, 12.5% 100%);
}
.gallery .container .clip.clip3{
    background: url(./gallery/landscape1.jpg);
    background-size: cover;
    clip-path: polygon(25% 0, 37.5% 0, 37.5% 100%, 25% 100%);
}
.gallery .container .clip.clip4{
    background: url(./gallery/street.jpg);
    background-size: cover;
    clip-path: polygon(37.5% 0, 50% 0, 50% 100%, 37.5% 100%);
}
.gallery .container .clip.clip5{
    background: url(./gallery/travel.jpg);
    background-size: cover;
    clip-path: polygon(50% 0, 62.5% 0, 62.5% 100%, 50% 100%);
}
.gallery .container .clip.clip6{
    background: url(./gallery/commercial1.jpg);
    background-size: cover;
    clip-path: polygon(62.5% 0, 75% 0, 75% 100%, 62.5% 100%);
}
.gallery .container .clip.clip7{
    background: url(./gallery/fineart.jpg);
    background-size: cover;
    clip-path: polygon(75% 0, 87.5% 0, 87.5% 100%, 75% 100%);
}
.gallery .container .clip.clip8{
    background: url(./gallery/monochrome.jpg);
    background-size: cover;
    clip-path: polygon(87.5% 0, 100% 0, 100% 100%, 87.5% 100%);
}
.gallery .container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.gallery .container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.service .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.service .content .box{
    width: 340px;
    margin:20px;
    border: 15px solid white;
    box-shadow: 0 0px 10px #023047;
    border-radius: 25px;
    text-align: center;
}
.service .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: 0 0px 10px #023047;
    border-radius: 25px;
}
.service .content .box .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.service .content .box .text{
    padding: 15px 0 5px;
}
.service .content .box .text h3{
    font-size: 1.5em;
    font-weight: 500;
    color: #023047;
}
.service .content .box .text h3:hover{
    color: #e7694b;
}
.btn{
    font-size: 1.5em;
    color: #e7694b;
    background: #023047;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 80px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    box-shadow: 0 0px 10px #023047;
}
.btn:hover{
    letter-spacing: 6px;
}
.testimonial{
    min-height: 112vh;
    background: #4494c8; /*rgb(68,148,200)*/
    box-shadow: 0 0px 20px #023047;
}
.testimonial .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 110px;
}
.testimonial .card{
    position: relative;
    width: 500px;
    height: 300px;
    /* height: 550px; */
    margin: 30px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0px 20px #023047;
    transition: .5s;
}
.testimonial .card:hover{
    height: 550px;
}
.testimonial .card .imgBx{
    position: absolute;
    left:50%;
    top:-25%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(2, 48, 71, 0.5);
    overflow: hidden;
    transition: .5s;
}
.testimonial .card:hover .imgBx{
    width: 350px;
    height: 350px;
}
.testimonial .card .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial .card .review{
    position: absolute;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* padding-top: 150px; */
    align-items: flex-end;
    overflow: hidden;
}
.testimonial .card .review .details{
    padding: 20px;
    color: #023047;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(250px);
}
.testimonial .card:hover .review .details{
    transform: translateY(120px);
}
.testimonial .card .review .details h2{
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.2em;
}
.testimonial .card .review .details .data{
    margin-top: 100px;
}
.testimonial .card:hover .review .details .data{
    margin-top: 0px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}
.contact .container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    margin-top: 50px;
    background: rgba(68,148,200,.1);
    box-shadow: 0 10px 50px rgba(2, 48, 71, 0.5);
    border-radius: 20px;
}
.contact .container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.contact .container .row100 .col{
    position: relative;
    width: 100%;
    padding:0 10px;
    margin: 30px 0 20px;
    color: #023047;
}
.contact .container .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
}
.contact .container .row100 .col .inputBox input,
.contact .container .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 20px;
    color: #023047;
    padding: 0 10px;
    z-index: 1;
}
.contact .container .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left:0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: .5s;
    pointer-events: none;
}
.contact .container .row100 .col .inputBox input:focus + .text,
.contact .container .row100 .col .inputBox input:valid + .text,
.contact .container .row100 .col .inputBox textarea:focus + .text,
.contact .container .row100 .col .inputBox textarea:valid + .text{
    top:-35px;
    left:-8px;
}
.contact .container .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #023047;
    transition: .5s;
    border-radius: 5px;
    pointer-events: none;
}
.contact .container .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.contact .container .row100 .col input[type="submit"]{
    font-size: 1.5em;
    color: #e7694b;
    background: #023047;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 25px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    box-shadow: 0 0px 10px #023047;
}
.contact .container .row100 .col input[type="submit"]:hover{
    letter-spacing: 6px;
}
.copyrightText{
    text-align: center;
    border-top: 1px solid rgba(2, 48, 71, 0.15);
}
.copyrightText p{
    color: #023047;
}
.copyrightText span{
    color: #e7694b;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0 10px;
}
@media (max-width: 1550px){
    .testimonial .card {
        margin: 60px;
    }
    .gallery .container {
        width: 1150px;
        height: 650px;
    }
}
@media (max-width: 1200px){
    .banner .content p {
        font-size: 4em;
    }
    .banner .content h2 {
        font-size: 2.5em;
    }
    .gallery .container {
        width: 850px;
        height: 500px;
    }
}
@media (max-width: 991px){
    header,header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 75px);
        position: fixed;
        top: 75px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;
    }
    header .navigation.active li{
        margin-left: 0;
    }
    header .navigation.active a{
        font-size: 2em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menu.PNG);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        filter: invert(.8);
        transition: .3s;
    }
    .menuToggle.active{
        background: url(close.PNG);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner .content p {
        font-size: 4em;
    }
    .banner .content h2 {
        font-size: 2em;
    }
    section{
        padding: 20px;
    }
    .txt {
        margin-top: 50px;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        width: 100%;
    }
    .row .col50 .imgBx {
        height: 500px;
        margin-top: 20px;
    }
    .gallery .container {
        width: 600px;
        height: 350px;
    }
    .service{
        margin-top: 40px;
    }
    .service .content {
        margin-top: 0px;
    }
    .btn {
        margin-top: 40px;
    }
    .testimonial {
        padding-top: 80px;
    }
    .contact {
        margin-top: 40px;
    }
    .contact .container {
        margin-top: 20px;
    }
}
@media (max-width: 750px){
    .banner .content p {
        font-size: 2em;
    }
    .banner .content h2 {
        font-size: 1.5em;
    }
    .copyrightText {
        margin-top: 30px;
    }
    .gallery .container {
        width: 550px;
        height: 300px;
    }
}
@media (max-width: 580px){
    .txt {
        margin-top: 50px;
    }
    .testimonial .card:hover .review .details{
        transform: translateY(0px);
    }
    .testimonial .card .review .details {
        padding-top: 120px;
    }
    .testimonial .card:hover .review .details {
        padding-top: -120px;
    }
    .testimonial .card:hover .imgBx{
        width: 200px;
        height: 200px;
    }
    .testimonial .card .review .details h2 {
        font-size: 2em;
    }
    .copyrightText {
        margin-top: 50px;
    }
    .gallery .container {
        width: 450px;
        height: 250px;
    }
}